---
name: TRMNL Screenshot (Deprecated)
version: "0.1.31"
slug: trmnl_screenshot_deprecated
description: "[DEPRECATED] Old version - use TRMNL Screenshot instead"
url: "https://github.com/chbarnhouse/ha-addons/tree/main/trmnl-screenshot-deprecated"
arch:
  - amd64
init: false
startup: application
boot: auto
options:
  screenshot_interval: 300
  image_quality: 90
  max_concurrent_captures: 3
  log_level: info
schema:
  screenshot_interval: int(30,3600)
  image_quality: int(50,100)
  max_concurrent_captures: int(1,10)
  log_level: list(debug|info|warning|error)
image: "ghcr.io/chbarnhouse/{arch}-addon-trmnl-screenshot-deprecated"
