---
name: TRMNL Screenshot
description: Capture Home Assistant dashboards for TRMNL e-ink devices
version: "0.1.0"
slug: trmnl_screenshot
image: ghcr.io/chbarnhouse/{arch}-addon-trmnl-screenshot
arch:
  - amd64
  - armv7
  - aarch64
init: false
startup: services
boot: auto
